<ng-http-loader></ng-http-loader>
<nav>
    <h1>GIF Storing App</h1>
</nav>

<div class="content">
    <div class="gifs">
        <app-gifs></app-gifs>
    </div>

    <div class="gifsstored">
        <app-gifsstored></app-gifsstored>
    </div>
</div>

<footer>
    <ul>
        <li>Use the left search bar to search Gif from the Giphy.</li>
        <li>Use the Right search bar to search stored Gfs.</li>
        <li>Use Save Button to store a Gif to your list.</li>
        <li>Use Delete Button to remove the Gif from your list.</li>
        <li>Use download icon to to download a Gig.</li>
        <li>SortAsc and SortDsc buttons to sort the stored Gif by date.</li>
        <li>Drag and Drop reorder coming soon!</li>
    </ul>
</footer>